@model IEnumerable<Guis.TiendaMusica.Entidades.Tienda.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn btn-warning">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">
    <tr class="bg-success text-white">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameGe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameAr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameGe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameAr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })
        </td>
    </tr>
}

</table>
